.bcname {
  display: block;
  float: left;
  width: 50%;
}

.bcicons {
  display: block;
  float: left;
}

.trans-userarea {
  width: 100%;
}

.trans-leftside {
  float: left;
  width: 60%;
}

.trans-rightside {
  float: left;
  width: 40%;
}

.trans-innerleft {
  float: left;
  position: relative;
  width: 49%;
}

.trans-innerright {
  float: left;
  position: relative;
  width: 49%;
}

div.trans-button {
  float: right;
}

/* Fixes an IE bug with the Moodle filters. */
.fgroup select {
      margin-right: 1em;
  }

.block_curr_admin .admintree .depth1 {
    padding-left:16px;
}

.block_curr_admin .admintree .depth2 {
    padding-left:32px;
}

.block_curr_admin .admintree .depth3 {
    padding-left:48px;
}

.block_curr_admin .admintree .depth4 {
    padding-left:64px;
}

.block_curr_admin .admintree {
    text-align: left;
}


/* popup calendar (MDL-16592) */
#date_selector_calendar_panel .bd {
    padding: 0;
}

#date_selector_calendar_panel .yui-calcontainer {
    border: none;
    float: none;
}
/* Prevent border-collapse:collapse from bleeding through in IE6, IE7 */
#date_selector_calendar_panel.yui-overlay-hidden table {
    *display:none;
}
#date_selector_calendar_panel th.calhead {
    padding-right: 2em;
}
#date_selector_calendar_panel a.container-close {
    top: 10px;
}

/* Learning Plan instructions */
div.lp_instructions {
    width: 600px;
}

/* Integration Point warning */
.ip_warning {
    color: green;
}


/* Health Centre */
div#healthnoproblemsfound {
    width: 60%;
    margin: auto;
    padding: 1em;
    border: 1px black solid;
    -moz-border-radius: 6px;
}
dl.healthissues {
    width: 60%;
    margin: auto;
}
dl.critical dt, dl.critical dd {
    background-color: #a71501;
}
dl.significant dt, dl.significant dd {
    background-color: #d36707;
}
dl.annoyance dt, dl.annoyance dd {
    background-color: #dba707;
}
dl.notice dt, dl.notice dd {
    background-color: #e5db36;
}
dt.solution, dd.solution, div#healthnoproblemsfound {
    background-color: #5BB83E !important;
}
dl.healthissues dt, dl.healthissues dd {
    margin: 0px;
    padding: 1em;
    border: 1px black solid;
}
dl.healthissues dt {
    font-weight: bold;
    border-bottom: none;
    padding-bottom: 0.5em;
}
dl.healthissues dd {
    border-top: none;
    padding-top: 0.5em;
    margin-bottom: 10px;
}
dl.healthissues dd form {
    margin-top: 0.5em;
    text-align: right;
}
form#healthformreturn {
    text-align: center;
    margin: 2em;
}
dd.solution p {
    padding: 0px;
    margin: 1em 0px;
}
dd.solution li {
    margin-top: 1em;
}

.dashboard_curricula_block {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    border: 1px black solid;
}

/* Clustertree nested fieldset */
.mform .nested {
	width: 95%;
	margin-left: 2.5%;
}
