/*
  Curriculum Admin Menu
*/

/* The spacer link seems to jump to the top of the page */
/* Changed display: none; (broken in IE8) to outline: 0;
.block_curr_admin .ygtvspacer {
    outline: 0;
}

/* General display settings */
.block_curr_admin .tree_icon {
    display: block;
}

.block_curr_admin .tree_icon a {
    display: block;
    margin-left: 22px;
}

.block_curr_admin .block_curr_admin_nonjs .categorytext {
    margin-left: 22px;
}

.block_curr_admin .block_curr_admin_nonjs {
    padding-left: 0px;
    margin-left: 0px;
    margin: 0px;
}

.block_curr_admin .block_curr_admin_nonjs ul {
    padding-left: 20px;
}

/* Category image */
.block_curr_admin .block_curr_admin_nonjs .category {
    background: transparent url([[pix:block_curr_admin|folder]]) no-repeat;
    display: block;
}

/* Images for specific element types */

.block_curr_admin .curr_dashboard {
    background: transparent url([[pix:elis_program|dashboard]]) no-repeat;
}

.block_curr_admin .curr_bulkuser {
    background: transparent url([[pix:elis_program|bulkuser]]) no-repeat;
}

.block_curr_admin .curr_resultsconfig {
    background: transparent url([[pix:elis_program|calculator]]) no-repeat;
}

.block_curr_admin .curr_reportslist {
    background: transparent url([[pix:elis_program|reportslist]]) no-repeat;
}

.block_curr_admin .curr_customfields {
    background: transparent url([[pix:elis_program|customfields]]) no-repeat;
}

.block_curr_admin .curr_clusterclassification {
    background: transparent url([[pix:elis_program|cluster]]) no-repeat;
}

.block_curr_admin .curr_configuration {
    background: transparent url([[pix:elis_program|configuration]]) no-repeat;
}

.block_curr_admin .curr_notifications {
    background: transparent url([[pix:elis_program|notifications]]) no-repeat;
}

.block_curr_admin .curr_integrationpoint {
    background: transparent url([[pix:elis_program|integrationpoint]]) no-repeat;
}

.block_curr_admin .curr_defaultcls {
    background: transparent url([[pix:elis_program|defaultsettings]]) no-repeat;
}

.block_curr_admin .curr_defaultcrs {
    background: transparent url([[pix:elis_program|defaultsettings]]) no-repeat;
}

.block_curr_admin .curr_managetags {
    background: transparent url([[pix:elis_program|tag]]) no-repeat;
}

.block_curr_admin .curr_manageenvironments {
    background: transparent url([[pix:elis_program|environment]]) no-repeat;
}

.block_curr_admin .curr_manageusers {
    background: transparent url([[pix:elis_program|user]]) no-repeat;
}

.block_curr_admin .curr_manageclusters {
    background: transparent url([[pix:elis_program|cluster]]) no-repeat;
}

.block_curr_admin .curr_certificatelist {
    background: transparent url([[pix:elis_program|certificate]]) no-repeat;
}

.block_curr_admin .curr_managecurricula {
    background: transparent url([[pix:elis_program|curriculum]]) no-repeat;
}

.block_curr_admin .curr_managecourses {
    background: transparent url([[pix:elis_program|course]]) no-repeat;
}

.block_curr_admin .curr_manageclasses {
    background: transparent url([[pix:elis_program|class]]) no-repeat;
}

.block_curr_admin .curr_managetracks {
    background: transparent url([[pix:elis_program|track]]) no-repeat;
}

.block_curr_admin .curr_currentcourses {
    background: transparent url([[pix:elis_program|class]]) no-repeat;
}

.block_curr_admin .curr_availablecourses {
    background: transparent url([[pix:elis_program|curriculum]]) no-repeat;
}

.block_curr_admin .curr_waitlist {
    background: transparent url([[pix:elis_program|waiting]]) no-repeat;
}

.block_curr_admin .curr_schedulereports {
    background: transparent url([[pix:elis_program|schedule]]) no-repeat;
}

.block_curr_admin .curr_reportinstance {
    background: transparent url([[pix:elis_program|report]]) no-repeat;
}

/* Images for instances in curr_admin menu */

.block_curr_admin .curr_cluster_instance {
    background: transparent url([[pix:elis_program|cluster]]) no-repeat;
}

.block_curr_admin .curr_curriculum_instance {
    background: transparent url([[pix:elis_program|curriculum]]) no-repeat;
}

.block_curr_admin .curr_course_instance {
    background: transparent url([[pix:elis_program|course]]) no-repeat;
}

.block_curr_admin .curr_track_instance {
    background: transparent url([[pix:elis_program|track]]) no-repeat;
}

.block_curr_admin .curr_class_instance {
    background: transparent url([[pix:elis_program|class]]) no-repeat;
}
