/*
  Curriculum Admin Menu
*/

/* The spacer link seems to jump to the top of the page */
/* Changed display: none; (broken in IE8) to outline: 0;
.block_curr_admin .ygtvspacer {
    outline: 0;
}

/* General display settings */
.block_curr_admin .tree_icon {
    display: block;
}

.block_curr_admin .tree_icon a {
	display: block;
    margin-left: 22px;
}

.block_curr_admin .block_curr_admin_nonjs .categorytext {
    margin-left: 22px;
}

.block_curr_admin .block_curr_admin_nonjs {
	padding-left: 0px;
	margin-left: 0px;
	margin: 0px;
}

.block_curr_admin .block_curr_admin_nonjs ul {
	padding-left: 20px;
}

/* Category image */
.block_curr_admin .block_curr_admin_nonjs .category {
    background: transparent url(pix/folder.png) no-repeat;
    display: block;
}

/* Images for specific element types */

.block_curr_admin .curr_dashboard {
    background: transparent url(../elis/program/pix/dashboard.png) no-repeat;
}

.block_curr_admin .curr_bulkuser {
    background: transparent url(../elis/program/pix/bulkuser.png) no-repeat;
}

.block_curr_admin .curr_resultsconfig {
    background: transparent url(../elis/program/pix/calculator.png) no-repeat;
}

.block_curr_admin .curr_reportslist {
    background: transparent url(../elis/program/pix/reportslist.png) no-repeat;
}

.block_curr_admin .curr_customfields {
    background: transparent url(../elis/program/pix/customfields.png) no-repeat;
}

.block_curr_admin .curr_clusterclassification {
	background: transparent url(../elis/program/pix/clusterclassification.png) no-repeat;
}

.block_curr_admin .curr_configuration {
    background: transparent url(../elis/program/pix/configuration.png) no-repeat;
}

.block_curr_admin .curr_notifications {
    background: transparent url(../elis/program/pix/notifications.png) no-repeat;
}

.block_curr_admin .curr_integrationpoint {
    background: transparent url(../elis/program/pix/integrationpoint.png) no-repeat;
}

.block_curr_admin .curr_defaultcls {
    background: transparent url(../elis/program/pix/defaultsettings.png) no-repeat;
}

.block_curr_admin .curr_defaultcrs {
    background: transparent url(../elis/program/pix/defaultsettings.png) no-repeat;
}

.block_curr_admin .curr_managetags {
	background: transparent url(../elis/program/pix/tag.gif) no-repeat;
}

.block_curr_admin .curr_manageenvironments {
    background: transparent url(../elis/program/pix/environment.png) no-repeat;
}

.block_curr_admin .curr_manageusers {
	background: transparent url(../elis/program/pix/user.gif) no-repeat;
}

.block_curr_admin .curr_manageclusters {
	background: transparent url(../elis/program/pix/cluster.gif) no-repeat;
}

.block_curr_admin .curr_certificatelist {
    background: transparent url(../elis/program/pix/certificate.png) no-repeat;
}

.block_curr_admin .curr_managecurricula {
	background: transparent url(../elis/program/pix/curriculum.gif) no-repeat;
}

.block_curr_admin .curr_managecourses {
	background: transparent url(../elis/program/pix/course.gif) no-repeat;
}

.block_curr_admin .curr_manageclasses {
	background: transparent url(../elis/program/pix/class.gif) no-repeat;
}

.block_curr_admin .curr_managetracks {
	background: transparent url(../elis/program/pix/track.gif) no-repeat;
}

.block_curr_admin .curr_currentcourses {
	background: transparent url(../elis/program/pix/class.gif) no-repeat;
}

.block_curr_admin .curr_availablecourses {
	background: transparent url(../elis/program/pix/curriculum.gif) no-repeat;
}

.block_curr_admin .curr_waitlist {
	background: transparent url(../elis/program/pix/waiting.png) no-repeat;
}

.block_curr_admin .curr_schedulereports {
	background: transparent url(../elis/program/pix/schedule.gif) no-repeat;
}

.block_curr_admin .curr_reportinstance {
    background: transparent url(../elis/program/pix/report.gif) no-repeat;
}

/* Images for instances in curr_admin menu */

.block_curr_admin .curr_cluster_instance {
    background: transparent url(../elis/program/pix/cluster.gif) no-repeat;
}

.block_curr_admin .curr_curriculum_instance {
	background: transparent url(../elis/program/pix/curriculum.gif) no-repeat;
}

.block_curr_admin .curr_course_instance {
	background: transparent url(../elis/program/pix/course.gif) no-repeat;
}

.block_curr_admin .curr_track_instance {
	background: transparent url(../elis/program/pix/track.gif) no-repeat;
}

.block_curr_admin .curr_class_instance {
	background: transparent url(../elis/program/pix/class.gif) no-repeat;
}